:root {
    /* Primary >>> */
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);

    /* Gradient */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);

    /* Neutral >>> */
    /* Text */
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);

    /* Dividers */
    --light-grayish-blue: hsl(240, 5%, 91%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    /* background: linear-gradient(var(--soft-violet), var(--soft-blue));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh; */
}

.main {
    background-color: white;
    border-radius: 25px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 10px 20px 30px 15px hsla(238, 29%, 16%, 0.2);
    
}

.accordion {
    position: relative;
}

/* Question and answer box */
.question_ans {
    border-bottom: 1px solid var(--light-grayish-blue);
    position: relative;
}

/* Question */
.question {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    /* background-color: white; */
}
.question:hover {
    cursor: pointer;
}
.question:hover p{
    color: var(--soft-red);
}

.question p {
    color: var(--very-dark-grayish-blue);
    /* background: yellowgreen; */
}

/* Questions box */
#questions {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

/* Answer */
.answer {
    color: var(--dark-grayish-blue);
}
.answer:hover {
    cursor: pointer;
}

.accordion .question {
    position: relative;
    /* background: yellowgreen; */
}

.accordion .answer {
    position: relative;
    overflow: hidden;
    height: 0;
    transition: all 0.5s ease-in-out;
}

.accordion.show .answer{
    height: 38.636px;
    transition: all 0.5s ease-in-out;
}
.accordion.show .question {
    font-weight: 700;
}
.accordion.show .question img{
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}
/* Animation
@keyframes slideDown {
    0% { height: 0px; };
    100% { height: 100%};
} */

/* Desktop -------------------------------- */
@media screen and (min-width: 900px) {
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
    /* Body */
    body {
        background: linear-gradient(var(--soft-violet), var(--soft-blue));
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    /* Main*/
    .main {
        width: 920px;
        height: 510px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    /* Images box */
    .images {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    /* Background */
    #bg-pattern-dsktp {
        position: absolute;
        top: -58%;
        left: -137%;
    }

    /* Woman and PC */
    #woman-pc-dsktp {
        position: absolute;
        top: 15%;
        left: -20%;
    }

    /* What's in the booooox */
    #box {
        position: absolute;
        left: -130px;
        top: 210px
    }
    /* FAQ Box */
    .faq-box {
        /* background-color: red; */
        width: 100%;
        height: 100%;
        border-radius: 0 25px 25px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 70px;
    }
    .faq-box h1 {
        font-size: 32px;
    }
    
}

@media screen and (max-width: 899px){
    body {
        height: 100vh;
        width: 100%;
        background: linear-gradient(var(--soft-violet), var(--soft-blue));
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }

    .main {
        max-width: 90%;
        margin-top: 170px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 80px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 50px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .images {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Top image shadow */
    #bg-pattern-mobile {
        position: absolute;
        top: 0;
        
    }

    #woman-pc-mobile {
        position: absolute;
        top: -110px;
        left: 7%;
    }

    
    .faq-box {
        margin-top: 70px;
    }

    .faq-box h1 {
        text-align: center;
        font-size: 32px;
        margin-bottom: 30px;
    }
}